<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393586840769-lgga8hfsl0mlqsab50d00f97o92r5chu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393586840769-lgga8hfsl0mlqsab50d00f97o92r5chu</string>
	<key>API_KEY</key>
	<string>AIzaSyBTesGdOTwU3NY7HOHNi7fCsSJYmx7ByGI</string>
	<key>GCM_SENDER_ID</key>
	<string>393586840769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qooqie.phone</string>
	<key>PROJECT_ID</key>
	<string>brekekephone-99ee0</string>
	<key>STORAGE_BUCKET</key>
	<string>brekekephone-99ee0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393586840769:ios:58a4d8977f981ebfd6f040</string>
	<key>DATABASE_URL</key>
	<string>https://brekekephone-99ee0.firebaseio.com</string>
</dict>
</plist>